<html>
  <head>
    <meta charset="UTF-8" />
    <title>Registration Form</title>
  </head>
  <body>
    <div class="container">
      <div id="container-inner" >
        <div id="wrapper">
          <div id="login">
            <form autocomplete="on">
              <h1>Log in</h1>
              <p>
                <label for="email">Email</label>
                <input name="email" required="required" type="email" placeholder="you@example.com"/>
              </p>
              <p>
                <label for="password" class="password">Password</label>
                <input name="password" required="required" type="password" placeholder="Password" />
              </p>
              <button class="btn btn-primary login_button"><a href="#" target="_blank" ></a>Log In</button>
              <p class="register">
                Don't have an account?
                <a href="#toregister" class="to_register">Register</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
