<nav>
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="title">
        <p>liste de seau</p>
      </div>
      <div class="search">
        <input id="search" type="search" data-provide="typeahead" autocomplete="off" [(ngModel)]="search" (keyup)="searchBuckets(search)"/>
      </div>
      <div class="social-icon">
        <a target="_blank" href="#" class="fa fa-user-plus"></a>
        <a target="_blank" href="#" class="fa fa-unlock"></a>
      </div>
    </div>
  </div>
</nav>
<body>
  <div class="sidebar">
    <div class="prev" (click)="prevPage()">
      <i class="chevron circle left icon"></i>
    </div>
    <div class="next" (click)="nextPage()">
      <i class="chevron circle right icon"></i>
    </div>
    <div class="add" data-toggle="modal" data-target="#basicModal">
      <i class="write icon"></i>
    </div>
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add a Bucketlist</h4>
          </div>
          <form (ngSubmit)="addBucket()">
            <input id="addbucket" type="text" name="add" [(ngModel)]="newBucket.name" placeholder="Win the Nobel Peace Prize" autofocus="">
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade solvemodal" *ngFor="let bucketlist of bucketlists" attr.id="editModal{{bucketlist.id}}" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bucketheader" attr.id="header{{bucketlist.id}}" (click)="showEditForm()">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" attr.id="bucketname{{bucketlist.id}}">{{bucketlist.name}}</h4>
          <form (ngSubmit)="editBucket()" class="bucketeditform hidden" attr.id="form{{bucketlist.id}}">
            <input type="text" name="editbucket" [(ngModel)]="bucketlist.name">
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i></button>
          </form>
        </div>
        <div class="items">
          <form class="hidden">
            <input type="text" name="whatdoesthisdo" class="hidden">
            <div class="input-group input-group-option">
              <input type="text" name="item" class="form-control">
                <span class="input-group-btn itembuttons">
                    <button class="btn btn-primary itemedit" type="button"><span class="fa fa-pencil"></span></button>
                    <button class="btn btn-default itemremove" type="button"><span class="fa fa-trash"></span></button>
                </span>
            </div>
          </form>
              <ul class="list-group itemslist">
                <li class="list-group-item">
                  <span class="itemname">First item</span>
                  <ul class="list-group-submenu">
                    <li class="list-group-submenu-item">
                      <input class="toggle" type="checkbox" checked="false">
                      <button class="btn btn-primary" type="button" id="bla"><span class="fa fa-remove"></span></button>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <span class="itemname">First item</span>
                  <ul class="list-group-submenu">
                    <li class="list-group-submenu-item">
                      <input class="toggle" type="checkbox" checked="false">
                      <button class="btn btn-primary" type="button"><span class="fa fa-remove"></span></button>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <span class="itemname">First item</span>
                  <ul class="list-group-submenu">
                    <li class="list-group-submenu-item">
                      <input class="toggle" type="checkbox" checked="false">
                      <button class="btn btn-primary" type="button"><span class="fa fa-remove"></span></button>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="input-group input-group-options newitem">
                <input type="text" name="newitem" class="form-control" placeholder="New Item">
                <span class="input-group-btn hidden">
                  <button class="btn btn-primary itemedit" type="button"><span class="fa fa-pencil"></span></button>
                  <button class="btn btn-default itemremove" type="button"><span class="fa fa-trash"></span></button>
                </span>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="pusher">
    <div class="page-title">
      <h3>Bucketlists</h3>
    </div>
    <div *ngIf="bucketlists.length === 0">
      <h5>There are no bucketlists here ...</h5>
    </div>
    <div class="ui brown link cards" *ngIf="bucketlists.length > 0">
      <div class="card" *ngFor="let bucketlist of bucketlists">
        <div class="content">
          <div class="header">
            <h3 class="buckettitle">{{bucketlist.name}}</h3>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <i class="tasks icon"></i>
            9 items
          </span>
          <span>
            <i class="checkmark box icon"></i>
            4 complete
          </span>
          <div class="ui two buttons">
            <div class="massive basic ui grey button" data-toggle="modal" attr.data-target="#editModal{{bucketlist.id}}"><i class="edit icon"></i>Edit</div>
            <div class="massive basic ui brown button" (click)="deleteBucket(bucketlist)"><i class="delete icon"></i>Delete</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
