// You can add global styles to this file, and also import other style files
a,
a:hover {
    outline: none;
}

nav {
    float: left;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 99;
}

.navbar {
    float: left;
    width: 100%;
    height: 42px;
    background: #403030;
}

.title {
    float: left;
    font-family: Ubuntu;
    color: #fff;
    margin: 10px 0 0 -130px;
    position: relative;
    font-size: 1.2em;
}

.fa-user-plus {
  position: absolute;
  top: 12px;
  right: 50px;
  font-size: 1.6em;
  color: #fff;
}

.fa-unlock {
  position: absolute;
  top: 13px;
  right: 15px;
  font-size: 1.6em;
  color: #fff;
}

a:focus, a:visited, a:hover {
  outline: none;
  text-decoration: none;
  color: #fff;
  opacity: 0.7 !important;
}
