<nav>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="title">
                <p>liste de seau</p>
            </div>
            <div class="social-icon">
                <a target="_blank" href="#" class="fa fa-user-plus"></a>
                <a target="_blank" href="#" class="fa fa-unlock"></a>
            </div>
        </div>
    </div>
</nav>
<div class="screen" id="screen5">
  <div class="switch">
    <i class="fa fa-bitbucket"></i>
  </div>
  <div class="must_switch">
    <p>Create an account and login.<br>Let us help you create a bucketlist.</p>
  </div>
  <div class="extension4">
    <button class="btn btn-lg btn-primary" type="button" name="join">
      Let's get started!
    </button>
  </div>
</div>